---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import WhatYouDo from '../components/WhatYouDo.astro';
import ThePlace from '../components/ThePlace.astro';
import Photos from '../components/Photos.astro';
import Reserve from '../components/Reserve.astro';
import Footer from '../components/Footer.astro';
import WhatsAppFloat from '../components/WhatsAppFloat.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Experience />
    <WhatYouDo />
    <ThePlace />
    <Photos />
    <Reserve />
  </main>
  <Footer />
  <WhatsAppFloat />
</Layout>
